[contentEditable='true']:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
}
.requestTextArea {
  width: calc(100% - 125px);
  flex-grow: 1;
  height: 100%;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  color: white;
  outline: 0;
}
.wide {
  width: 100%;
}

@media (max-width: 800px) {
  .requestTextArea {
    width: calc(100% - 80px);
    height: 100%;
    font-size: 14px;
  }
  .wide {
    width: 100%;
  }
}
