.schemaContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(74 74 74 / 85%);
  padding: 35px 25px;
  border-radius: 20px;
  font-size: 1em;
  flex-grow: 1;
  margin: 15px;
  transition: 1s ease-in-out;
}

.active {
  border-top: 1px solid #e10098;
  border-bottom: 1px solid #e10098;
  background-color: rgba(225, 0, 152, 0.1);
}

.title {
  font-size: 1.25em;
  color: #e10098;
  margin: 0px;
}

.titleSchema {
  font-size: 1em;
  color: #e10098;
  margin: 0px;
}

.containerTypes {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.kind {
  color: #e10098;
  margin-left: 5px;
}

.schemaInformation {
  display: flex;
  gap: 50px;
  margin-top: 25px;
}

.detailContainer {
  display: flex;
  gap: 50px;
}

.typeContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
}