@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 1);
  padding: 25px 0;
  font-family: 'Jost', sans-serif;
}
.header.scroll {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  padding: 10px 0;
  animation: scrollMenu 0.2s ease-in-out;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logoImg {
  height: 44px;
  width: 44px;
}
.title {
  color: #e10098;
  font-size: 25px;
}
.home {
  color: #fff;
  font-size: 17px;
}
.navDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.navMobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.pinkButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 20px;
  background-color: #e10098;
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.pinkButton:hover {
  background-color: #e1009ad5;
}

.blackButtonLang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #000;
  padding: 0px;
  color: #fff;
  font-size: 15px;
  border: 1px solid #e10098;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
}
.blackButtonLang div {
  padding: 3px;
}
.langActive {
  background-color: #e10098;
  color: #000;
  border-radius: 8px;
  transition: all 0.3s;
}

@keyframes scrollMenu {
  from {
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(0);
    padding: 25px 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    padding: 10px 0;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 700px) {
  .navDesktop {
    display: none;
  }
  .navMobile {
    display: flex;
  }
  .container {
    padding: 0 15px;
  }
}
