.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 1);
  padding: 25px 0;
}

.header.scroll {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  padding: 10px 0;
  animation: scrollMenu 0.2s ease-in-out;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.logoImg {
  height: 44px;
  width: 44px;
}

.title {
  color: #e10098;
  font-size: 25px;
}

.home {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.navDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.navMobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.authButtonsContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.authButtonsBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@keyframes scrollMenu {
  from {
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(0);
    padding: 25px 0;
  }

  to {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    padding: 10px 0;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 700px) {
  .navDesktop {
    display: none;
  }

  .navMobile {
    display: flex;
  }

  .container {
    padding: 0 15px;
  }
}