.responseContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(129, 129, 129, 0.24);
  padding: 35px 25px;
  border-radius: 20px;
  font-size: 20px;
  flex-basis: 40%;
  flex-grow: 1;
  margin: 15px;
}
